<div class="navbar-lewagon p-4 mb-5">
  <h1 class="text-light">Movies</h1>
</div>

<div class="container">
<h3 class="text-light">Your list</h3>
<div class="cards">
  <% @lists.each do |list| %>
      <%= link_to list_path(list), class:"btn btn-outline-light" do %>
      <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>)">
      <%= list.name %>
      </div>
      <% end %>
  <% end %>

</div>
  <div class="btn-new-list mt-3">
    <%= link_to "Add a new list", new_list_path, class:"btn btn-outline-light" %>
  </div>
  </div>
